<!-- views/pages/classroom.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ClassRoomAdvisor</title>
</head>
<body class="container">
<a href="javascript:history.go(-1);">Back</a>
<a href="http://localhost:8080/profile">Profile</a>
<header>
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Classroom Page
            </a>
        </div>

    </div>
    </nav>

</header>
<main>
    <div class="jumbotron">
        <h1>Classroom <%=number%> </h1>

        <h2>Info:</h2>
        <table style="width:50%">
          <tr>
            <td>Name: <%=infos.name%></td>
            <td>Floor: <%=infos.floor%></td>
            <td>Seats: <%=infos.seats%></td>
          </tr>
          <tr>
            <td>Type: <%=infos.type%></td>
            <td>Desk Type: <%=infos.desk_type%></td>
            <td>Exits: <%=infos.exits%></td>
          </tr>
          <tr>
            <td>Board Type: <%=infos.board_type%></td>
            <td>Coat Hangers: <%=infos.coat_hangers%></td>
            <td>Projectors: <%=infos.projector%></td>
          </tr>
          <tr>
            <td>Mic: <%=infos.mic%></td>
            <td>Wi-Fi Signal: <%=infos.wi_fi%></td>
          </tr>
        </table>

        <h2>Comments:</h2>
        <p>
          <%
          for(var i=0;i<comm_length;i++){%>
          <%=comments[i].comment%><br>
          From: <%=comments[i].user%> | Date: <%=comments[i].date%>:<%=comments[i].hour%><br><br>
          <%}%>
      </p>

        <form action="/aula" method="POST" >
            Comment: <input type="text" name="comment" placeholder="Write your comment here"><br>
            <input type="submit" value="Send" >
        </form>

    </div>

    <div class="col-sm-4">

        <div class="well">
            <h3>Photo: </h3>
            <% for(var i=0; i<n_links; i++) {%>
            <img src=<%=image[i]%> alt="classroom_img">
            <% } %>
        </div>

    </div>

</main>

<footer>
    <p class="text-center text-muted">© Copyright 2017 ClassRoomAdvisor</p>
</footer>

</body>
</html>
